/*  -------------------------------------------------------------
    Video
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

#full-video {
    position: fixed;

    video {
        width: 100vw;
        height: 100vh;
    }
}
